* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f6f7;
}
.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}
.card {
    width: 100%;
    max-width: 350px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-content {
    padding: 16px;
}
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    color: #333;
}
.card-button {
    margin-top: 12px;
    padding: 10px 10px;
    font-size: 0.9rem;
    color: #fff;
    background-color: #0a0a23;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.card-button:hover {
    background-color: #fdb347;
    color: #0a0a23;
}
.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.gallery::after {
    content: "";
    width: 350px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #0a0a23;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar-brand {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 4px;
}
.nav-link:hover {
    color: #fdb347;
    border-bottom: 2px solid #fdb347;
}
.navbar-button {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
}
.navbar-button:hover {
    color: #fdb347;
}
@media(max-width:768px){
    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #0a0a23;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        text-align: cenetr;
        padding: 10px 0px;
        border-top: 10px solid #fdb347;
    }
    .nav-list.active {
        display: flex;
    }
    .navbar-button {
        display: block;
    }
}